@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}

#header {
  text-align: center;
}

body {
  background-color: #ffb400;
}

hr {
  border-color: #444444;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

a, a:link, a:visited, a:hover, a:active {
  color: #87E8E2;
}
